.slider-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0; 
  pointer-events: none;
}

.rollitos-slider {
  display: flex;
  align-items: center;
  height: 100%;
  width: max-content;
  will-change: transform;
}

.rollito {
  width: 60px;
  height: auto;
  margin: 0 2px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .slider-container {
    height: 100px; 
    margin: 0;
  }

  .rollito {
    width: 40px;
    margin: 0 10px;
  }
}

@media (max-width: 480px) {
  .rollito {
    width: 30px;
    margin: 0 6px;
  }
}

@keyframes subirBajar {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}
